@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebas-neue-fontfacekit/web fonts/bebasneue_regular_macroman/BebasNeue-webfont.eot');
    src: url('bebas-neue-fontfacekit/web fonts/bebasneue_regular_macroman/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebas-neue-fontfacekit/web fonts/bebasneue_regular_macroman/BebasNeue-webfont.woff') format('woff'),
         url('bebas-neue-fontfacekit/web fonts/bebasneue_regular_macroman/BebasNeue-webfont.ttf') format('truetype'),
         url('bebas-neue-fontfacekit/web fonts/bebasneue_regular_macroman/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

#header, #piano, #score, #displayOptions {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#header {
    margin-top: 50px;
    font-size: 96px;
    font-weight: bold;
    font-family: bebas_neueregular;
}

#header-note {
    color: maroon;
}

#header-lex {
    color: steelblue;
}

#nav {
    font-size: 80%;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

#nav ul {
    margin: 0;
}

#nav li {
    display: inline;
}

#score {
    background-color: #fff;
}

#results {
    margin: 50px auto 25px auto;
    width: 400px;
}

#results > ul {
    list-style-type: none;
    display: table;
    margin: 0;
    padding: 0;
}

#results > ul > li {
    display: table-cell;
    padding: 5px;
}

#results > ul > li > a {
    display: block;
    padding: 5px;
    cursor: pointer;
    color: white;
    width: 50px;
    text-align: center;
}

#results li.theory-am.selected {
    background-color: rgba(70, 130, 180, 0.2);
}

#results li.theory-am a.header {
    background-color: steelblue;
}

#results article.theory-am {
    background-color: rgba(70, 130, 180, 0.2);
}



#results li.theory-ft.selected {
    background-color: rgba(128, 0, 0, 0.2);
}

#results li.theory-ft a.header {
    background-color: maroon;
}

#results article.theory-ft {
    background-color: rgba(128, 0, 0, 0.2);
}



#results li.theory-pc.selected {
    background-color: rgba(255, 140, 0, 0.2);
}

#results li.theory-pc a.header {
    background-color: darkorange;
}

#results article.theory-pc {
    background-color: rgba(255, 140, 0, 0.2);
}



#results li.disabled {
    background-color: white !important;
}

#results li.disabled a.header {
    background-color: silver !important;
}

#results article.disabled {
    display: none;
}


#results > article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}




/* klavier */
#piano {
    height: 150px;
    width: 600px;
}
.klavier-key {
    border: 1px solid black;
}
.klavier-black-key {
    background-color:  black;
}
.klavier-white-key {
    background-color:  white;
}
.klavier-white-key.klavier-selected-key {
    background-color:  #CCCCCC;
}
.klavier-black-key.klavier-selected-key {
    background-color:  #333333;
}




/* pcSetProviderResult */
.pcSetProviderResult table {
    border-collapse: collapse;
}

.pcSetProviderResult table th, .pcSetProviderResult table td {
    padding: 2px 0;
    text-align: left;
    vertical-align: top;
}

.pcSetProviderResult table th {
    padding-right: 25px;
}

.pcSetProviderResult .label {
    font-weight: bold;
}
